<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Episodes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Episodes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="episodes.length > 0">
    <ion-text><h3>{{n}} episodes in total</h3></ion-text>
    <app-pager
      [totalPages]="totalPages"
      [actualPage]="actualPage"
      sourceUrl="episodes"
    ></app-pager>

    <app-episode-card
      *ngFor="let x of episodes"
      [episode]="x"
    ></app-episode-card>

    <app-pager
      [totalPages]="totalPages"
      [actualPage]="actualPage"
      sourceUrl="episodes"
    ></app-pager>
  </div>

  <app-loading-component *ngIf="episodes.length === 0"></app-loading-component>
</ion-content>
