<app-loading-component *ngIf="character === null"></app-loading-component>

<ion-header [translucent]="true" *ngIf="character !== null">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{character.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="character !== null">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{character.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img [src]="character.image"></ion-img>

  <ion-title>{{character.name}}</ion-title>

  <ion-text *ngIf="originLocation">
    <h2>Origin location</h2>
  </ion-text>

  <app-location-card
    *ngIf="originLocation"
    [location]="originLocation"
  ></app-location-card>

  <ion-text *ngIf="knownLocation">
    <h2>Known location</h2>
  </ion-text>

  <app-location-card
    *ngIf="knownLocation"
    [location]="knownLocation"
  ></app-location-card>

  <ion-text *ngIf="episodes">
    <h2>Episodes where it appears</h2>
  </ion-text>

  <app-episode-card
    *ngFor="let x of episodes"
    [episode]="x"
  ></app-episode-card>
</ion-content>
