<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Characters</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="grid-content" id="container" *ngIf="elements.length > 0">
    <ion-text class="grid-content__character">
      <h3>{{n}} characters in total</h3>
    </ion-text>
    <app-pager class="counter__loc-head"
               [totalPages]="totalPages"
               [actualPage]="actualPage"
               sourceUrl="characters"
    ></app-pager>

    <div class="grid-content__data">
      <app-character-card
        *ngFor="let x of elements"
        [character]="x"
      ></app-character-card>
    </div>

    <app-pager class="counter__loc-end"
               [totalPages]="totalPages"
               [actualPage]="actualPage"
               sourceUrl="characters"
    ></app-pager>
  </div>

  <app-loading-component *ngIf="elements.length === 0"></app-loading-component>
</ion-content>
