<ion-card routerLink="/character/{{character.id}}">
  <ion-img [src]="character.image" [alt]="character.name"></ion-img>
  <ion-card-header>
    <ion-card-title>{{character.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <span class="status_icon {{character.status}}"></span>
    {{character.status}} - {{character.species}}<br>
    <b>Type:</b> {{character.type}}<br>
    <b>Gender:</b> {{character.gender}}<br>
    <b>Origin:</b> {{character.origin['name']}}<br>
    <b>Location:</b> {{character.location['name']}}<br>
    <b>First seen:</b> {{character.episodes[0]}}
  </ion-card-content>
</ion-card>
